<h1>New note</h1>

<form action="/notes" method="post">
  <input type="text" name="note[from]" id="from" placeholder="from" />
  <input type="text" name="note[title]" id="title" placeholder="title" />
  <input type="text" name="note[content]" id="content" placeholder="content" />
  <input type="submit" value="Stick it to the man!">
</form>
